@using chefs_dishes.Models
@model Dish
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <style>
            h1 {
                text-align: center;
                margin: 20px;
            }
            .header_container {
                text-align: center;
                margin: 20px;
            }
            body {
                background-color: #fff9fc;
            }
            h3 {
                text-align: center;
            }
        
        </style>
    </head>

<body>

<div class="header_container">
    <h1><a href="/">Chefs</a> | <a href="/dishes">Dishes</a></h1>
    <a href="dishes/new" class="float-right">Add a Dish</a>
</div>
<h3>Yum, take a look at our tasty dishes!</h3>

<table class="table col-sm-8 mx-auto">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Chef</th>
      <th scope="col">Tastiness</th>
      <th scope="col">Calories</th>
    </tr>
  </thead>
  <tbody>
    
        @foreach(Dish dish in @ViewBag.alldishes)
        {
            <tr>
                <td>@dish.Dishname</td>
                <td>@dish.Creator.FirstName</td>
                <td>@dish.Tastiness</td>
                <td>@dish.Calories</td>
            </tr>
        }
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

</body>
</html>